*{
    margin: 0;
}
#gameWindow{
    margin: 0 auto;
}
h1{
    text-align: center;
}

#canvas{
    border: 1px solid black;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#scoreText{
    position: relative;
    text-align: center;
}
#btns{
    text-align: center;
    margin-top: -150px;
}
button{
    width: 100px;
    height: 100px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 50%;
    box-shadow: 0 9px #999;
    margin: 12px;
    font-size: xx-large;
}
.btnPressed {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#greenBtn{
    background-color: green;
}
#redBtn{
    background-color: red;
}
#yellowBtn{
    background-color: yellow;
}
#blueBtn{
    background-color: blue;
}