#gameWindow{
    display: flex;
    align-items: center;
    justify-content: center;
}


#canvas{
    border: 1px solid black;
}
button{
    width: 100px;
    height: 100px;
    padding: 15px 25px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 50%;
    box-shadow: 0 9px #999;
    position: relative;
    top: 300px;
    right: 515px;
    margin: 13px;
}
.btnPressed {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#greenBtn{
    background-color: green;
}
#redBtn{
    background-color: red;
}
#yellowBtn{
    background-color: yellow;
}
#blueBtn{
    background-color: blue;
}