*{
    margin: 0;
}
body{
    background-image: url("https://images2.alphacoders.com/701/70172.jpg");
    color: white;
}
h1{
    text-align: center;
    color: white;
    font-size: 60px;
}
a{
    text-decoration: none;
    border: black solid 1px;
    border-radius: 25%;
    padding: 10px;
    background-color: blue;
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}
.menu{
    text-align: center;
    border: solid black 1px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 525px;
    height: 800px;
    background: rgba(12, 12, 225, 0.3);
}
#canvas{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: rgba(12, 12, 225, 0.3);
    
}

#scoreText{
    position: relative;
    text-align: center;
    font-size: 30px;
    color: white;
}
#btns{
    text-align: center;
    margin-top: -150px;
}
button{
    width: 100px;
    height: 100px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 50%;
    box-shadow: 0 9px #999;
    margin: 12px;
    font-size: xx-large;
}
.btnPressed {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#greenBtn{
    background-color: green;
}
#redBtn{
    background-color: red;
}
#yellowBtn{
    background-color: yellow;
}
#blueBtn{
    background-color: blue;
}